
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Burası test sayfasıdır</h1>


<table>
   <tr>
       <th>Id</th>
       <th>İsim</th>
       <th>Departman</th>
   </tr>
    <tr>
        <td>1</td>
        <td>Sabri</td>
        <td>Back-End</td>
    </tr>
</table>

